<div class="outbox">
<button type="button" (click)="showLogin()">Login</button>
<button type="button" (click)="showSignup()">Signup</button>
</div>
<div class="login-box">
  <form *ngIf="isLoginForm" (ngSubmit)="login()">

    <h2>Login</h2>

    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="loginEmail">
    <p class="error" *ngIf="emailError">{{ emailError }}</p>

    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="loginPassword">
    <p class="error" *ngIf="passwordError">{{ passwordError }}</p>

    <button type="submit">Login</button>

  </form>
  <form *ngIf="!isLoginForm" (ngSubmit)="signup()">

    <h2>Signup</h2>

    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name">
    <p class="error" *ngIf="nameError">{{ nameError}}</p>

    <label>Phone</label>
    <input type="text" [(ngModel)]="phone" name="phone">
    <p class="error" *ngIf="phoneError">{{ phoneError }}</p>

    <label>Email</label>
    <input type="email" [(ngModel)]="signupEmail" name="signupEmail">
    <p class="error" *ngIf="signupEmailError">{{ signupEmailError }}</p>

    <label>Password</label>
    <input type="password" [(ngModel)]="signupPassword" name="signupPassword">
    <p class="error" *ngIf="signupPasswordError">{{ signupPasswordError }}</p>

    <button type="submit">Signup</button>

  </form>

</div>