body {
  margin: 0;
  height: 100vh;
}

/* FULL CENTER CONTAINER */
.login-box {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TOGGLE BUTTONS (LOGIN / SIGNUP) */
.outbox {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 15px;
}

/* TOGGLE BUTTON STYLE */
.outbox button {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #d4ba80;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.outbox button:hover {
  background: #cfcfcf;
}

/* FORM CARD */
form {
  width: 340px;
  padding: 25px;
  border-radius: 12px;
  background-color: #d4ba80;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TITLE */
h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}


label {
  font-size: 14px;
  font-weight: 600;
  color: #9e095d;
}

button[type="submit"] {
  padding: 12px;
  background: #d537a8;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #000000;
}

/* ERROR TEXT */
.error {
  color: red;
  font-size: 12px;
  margin-top: -8px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
