
.booking-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #840808, #000000);

  padding: 20px;
}

/* MAIN CARD */
.booking-card {
  width: 420px;
  max-width: 95%;

  background: white;

  padding: 28px;

  border-radius: 16px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;

  gap: 15px;

  transition: 0.3s ease;
}

.booking-card:hover {
  transform: translateY(-4px);
}

/* TITLE */
.booking-card h2 {
  text-align: center;

  color: #840808;
  margin-bottom: 10px;
}

/* INPUT FIELDS */
mat-form-field {
  width: 100%;
}

/* DATE PICKER ICON COLOR */
mat-datepicker-toggle {
  color: #840808;
}

/* PRICE BOX */
.price {
  padding: 12px;

  background: #f5f5f5;

  border-left: 5px solid #840808;

  font-weight: bold;

  color: #222;

  border-radius: 8px;
}

/* BUTTON */
button {
  width: 100%;

  padding: 12px;

  font-weight: bold;

  border-radius: 25px;

  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.03);
}


.mat-form-field-outline {
  color: #840808 !important;
}

input {
  font-size: 14px;
}